PORT=3001
OPENAI_API_KEY=sk-...
OPENAI_MODEL=gpt-4.1
MQTT_SERVER=mqtt://broker.hivemq.com
MQTT_TOPIC_CMD=foroptero01/cmd
MQTT_TOPIC_STATE=foroptero01/state
MQTT_TOPIC_PANTALLA=foroptero01/pantalla
TOKEN_ESPERADO=foropteroiñaki2022#
